@model HandsOnHelpers.Models.User
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="container">
    @using(Html.BeginForm("Add","Account"))
	{
	<table class="table table-bordered" style="width:500px">
		<tr>
			<td>Name</td>
			<td>
				@Html.TextBoxFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name)
			</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>
				Male @Html.RadioButtonFor(m => m.Gender, "Male")
				FeMale @Html.RadioButtonFor(m => m.Gender, "FeMale")
			</td>
		</tr>
		<tr>
			<td>DOB</td>
			<td>
				@Html.TextBoxFor(m => m.DOB, null, new { @type = "date" })
				@Html.ValidationMessageFor(m => m.DOB)
			</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>
				@Html.TextBoxFor(m => m.Email)
				@Html.ValidationMessageFor(m => m.Email)
			</td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td>
				@Html.TextBox("Mobile")
				@Html.ValidationMessageFor(m => m.Mobile)
			</td>
		</tr>
		<tr>
			<td>Country</td>
			<td>
				@*@Html.DropDownListFor(m=>m.Country,new SelectList(new string[] { "India","US","Uk"}))*@
				@Html.DropDownListFor(m => m.Country, ViewData["country"] as SelectList)
				@Html.ValidationMessageFor(m => m.Country)
			</td>
		</tr>


		<tr>
			<td>Username</td>
			<td>
				@Html.TextBox("Username")
				@Html.ValidationMessageFor(m => m.Username)
			</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>
				@Html.Password("Password")
				@Html.ValidationMessageFor(m => m.Password)
			</td>
		</tr>
		<tr>
			<td>Confirm Password</td>
			<td>
				@Html.Password("ConfirmPassword")
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				@Html.CheckBox("confirm") Accept all terms and conditions
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Register" />
			</td>
		</tr>
	</table>
	}
</div>

