@model HandsOnHelpers.Models.Credentials
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="container">
    @using (Html.BeginForm("Login","Account","POST"))
	{
	<table class="table table-bordered" style="width:300px">
		<tr>
			<td>UserName</td>
			<td>@Html.TextBoxFor(m => m.Uname)
			@Html.ValidationMessageFor(m=>m.Uname)
			</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>@Html.PasswordFor(m => m.Password)
			@Html.ValidationMessageFor(m=>m.Password)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="SingIn" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				@Html.ActionLink("SingnUp", "Create", "Account")
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<span class="text-warning">@ViewBag.Error</span>
			</td>
		</tr>
	</table>
	}
</div>

